Source: mxu11x0
Section: kernel
Priority: optional
Maintainer: Jason Chen <Jason.Chen@moxa.com>
Uploaders: Elvis Yao <ElvisCW.Yao@moxa.com>
Build-Depends: debhelper (>= 10),
	       linux-headers-4.19.0-13-amd64
Standards-Version: 4.1.3
Homepage: http://www.moxa.com/

Package: moxa-mxu11x0-driver-amd64
Architecture: amd64
Depends: ${misc:Depends},
	 linux-image-4.19.0-13-amd64
Description: MOXA UPort 11x0 USB to Serial Hub Family Driver
  The Moxa UPort 11x0 USB to Serial Hub driver can be used in the Linux
  kernel with the usbcore and usbserial modules.
